:root {
  --primary-color: black;
  --secondary-color: #127369;
  --border-style: 3px solid dimgray;
  background-color: lightgray;
}

.box {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: large;
}

h2 {
  margin-top: 32px;
  text-align: center;
  font-size: xx-large;
  color: var(--primary-color);
}

h5 {
  text-align: center;
}

.square {
  height: 32px;
  width: 32px;
  padding: 16px;
  text-align: center;
  color: black;
}

.verticalBorders {
  border-left: var(--border-style);
  border-right: var(--border-style);
}

.horizontalBorders {
  border-top: var(--border-style);
  border-bottom: var(--border-style);
}

.bordersAll {
  border: var(--border-style);
}
